.price-container{
    text-align: center;
    /* width: 90%; */
    color: #ffffff;
    margin-bottom: 0.2em;
    font-weight: 600;
    background-color: #8b5522;
    letter-spacing: 2px;
    opacity: 0.8;
    font-size: 1.2rem;
    padding: 0.2rem;
    border: 1px solid white;
}