.dialog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #80808078;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
h2{
    padding: 0.5rem;
    background-color: rebeccapurple;
    margin: 0;
    color: white;
    opacity: 1;
    font-size: 1rem;
    margin-bottom: 0.2em;
}
.dialog-form-header{
    display: block;
    text-align: center;
    /* border-radius: 10px; */
    color: white;
    background-color: darkslategray;
    padding: 0.5rem;
    margin: 0;
}
.dialog-content{
    padding: 1rem;
    background: #607D8B;
    color: #c7c7ee;
    height: 75vh;
    /* width: 60vw; */
    overflow-y: auto;
}
.dialog-price {
    background-color: tomato;
    padding: 0.5rem;
    /* margin-top: 0.5em; */
    color: white;
    /* font-size: 1.2rem; */
    font-weight: 500;
    /* border: 1px solid; */
    /* position: sticky;
    top: 0; */
}
.dialog-price h4{
    background-color: darkslategrey;
    padding: 0.2rem;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    margin: 0;
}
.dialog-date{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.dialog-date label{
    display: flex;
}
.dialog-date label span{
    flex-basis: 130px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.dialog-date label h4{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.9;
    color: #151530;
}
.confirm-form {
    display: flex;
    flex-direction: column;
    background-color: #a5bbc3;
    color: rgb(20, 20, 20);
    padding: 1rem;
}
mat-form-field{
    width: 100%;
}
.close{
    position: relative;
    float: right;
    top: -12px;
    margin-right: -1.3em;
    background-color: darkred;
    color: white;
    padding: 0.4rem;
    border-radius: 50%;
    width: 34px;
    height: auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}
.close:hover{
    background-color: rgb(128 68 68);
}

.pizaa-create-bottom-action{
    margin-top: 1em;
    position: absolute;
    bottom:0;
    left: 0;
    text-align: right;
    background-color: #9E9E9E;
    width: 100%;
    
    box-shadow: 1px 2px 3px 4px grey;
      /* border: 5px; */
      border-radius: 10px;
  
      padding: 0.5rem;
  }
  mat-dialog-actions{
    background-color: #fffbb8;
    margin-top: 0.5em;
    padding: 0.3rem;
  }