<span mat-dialog-close class="close" title="close-dialog" > X </span>
<div mat-dialog-title class="dialog-price">
    <h4  >Price : {{data.totalPrice}}</h4>
</div>

<mat-dialog-content class="mat-typography">
    <h2>
        Your Pizza is in your way
    </h2>    
    <ng-container *ngIf="data.isScreenMedium | async as screenMedium">
        
    <div class='dialog-date' [style.width]="screenMedium.matches ? 'auto' : '50%'">
       <label> <span> Order Day @ :</span> <h4>{{data.currentDateTime.day}} </h4> </label>
       <label> <span> Order Date @ :</span> <h4>{{data.currentDateTime.date}} </h4> </label>
       <label> <span> Order Time @ :</span> <h4>{{data.currentDateTime.time}} </h4> </label>
    </div>
</ng-container>
    <hr style="margin-bottom: 1em;">
    <h4 class="dialog-form-header">Enter Your Details</h4>

    <div class="confirm-form">
        <form [formGroup]="contactDetailsForm"> 
            <mat-form-field style="width:100%; " appearance="outline">
                <mat-label>First Name *</mat-label>
                <input formControlName="firstName" matInput placeholder="Enter First Name">
                <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
            <mat-form-field style="width:100%; " appearance="outline">
                <mat-label>Last Name *</mat-label>
                <input formControlName="lastName" matInput placeholder="Enter Last Name">
                <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address *</mat-label>
                <textarea formControlName="address" matInput></textarea>
            </mat-form-field>
        </form>
    </div>
    
    <hr style="margin-bottom: 1em;">
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" 
            [mat-dialog-close]="{'details': contactDetailsForm.value, 'closeValue': true}"
            [disabled]="!contactDetailsForm.valid">
            Confrim
    </button>
</mat-dialog-actions>


<!-- dialog-cmp
<div [@myTrigger] *ngIf="dialog$ | async as dialog">
    
    <div *ngIf="dialog.isDialogOpen" class="dialog-container" [ngStyle]="{'height': isMediumScreen ? 'auto' : '100vh' }">
        <span class="close" title="close-dialog" (click)="close()"> X </span>
        <div class="dialog-content">
            <h2 mat-dialog-title>Your Pizza is in your way</h2>
            <h4 class="dialog-price">Price : {{dialog.isDialogData.totalPrice}}</h4>
            
            <h4> Order @ {{dialog.isDialogData.currentDateTime}}</h4>
            <hr style="margin-bottom: 1em;">
            <h4 class="dialog-form-header" >Enter Your Details</h4>
            <div class="confirm-form"> 
                <mat-form-field style="width:100%; " appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter First Name">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
                <mat-form-field style="width:100%; " appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter Last Name">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
            </div>
            
            <hr style="margin-bottom: 1em;">
            <div class="pizaa-create-bottom-action">
                <button mat-raised-button color="primary" (click)="confrim()">Confrim</button>
            </div>
        </div>
    </div>
</div> -->


