.main-landing-content{
    color: #d8d2d2;
      word-spacing: 2px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
          height: 450px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      justify-content: center;
      flex-direction: column;
      line-height: 60px;
  }
  .landing-main-content{
    box-shadow: 1px 2px 3px 4px slategrey;
      background-color: #072416;
      opacity: 0.8;
      color: #ede5e5;
      width: 50%;
  }
  .flex-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
      color: #65eab3;
      background-color: #282802;
      background: linear-gradient(119deg, rgba(74,35,69,1) 36%, rgba(121,86,9,1) 67%);
      margin: 0;
      height: 80px;
  }
  h2{
        color: yellow;
        background-color: black;
        margin: 0;
        height: 60px;
  }
  h3{
    background-color: #b5b535;
      color: black;
      margin: 0;
      height: 80px;
      font-weight: 600;
  }
  .btn-create-pizza{
    font-size: 1.5rem;
      height: 60px;
      margin-top: 1em;
      margin-bottom: 1em;
  }
  
  @media screen and (max-width: 768px){
    .landing-main-content{
        width: 100%;
    }
    h1{
      font-size: 1.5rem;
    }
    h3{
      line-height: 30px;
      
    } 
  }