<div class="main-landing-content">
    <div class="landing-main-content">
      <h1 class="flex-align-center"> Getting Hungrry ? </h1>
      <h2 class="flex-align-center"> Do not wait Anymore... </h2>
      <h3 class="flex-align-center"> Create your Own Pizza and Order Pizza Now. </h3>
      <button mat-raised-button color="warn" class="btn-create-pizza"
              (click)="createNewPizza()"> 
        <span> Order Now  </span>
        <mat-icon> add_circle_outline </mat-icon>
      </button>
    </div>
  </div>
  