.main-pizza-create-container{
    height: 80%;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
  }
  
  .create-pizza-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em ;
  }
  
  .create-pizza-container > mat-card{
    width: 90%;
    background-color: #ffebcde0;
    box-shadow: 0px 0px 3px 4px darkorange;
  }
  .create-pizza-container > mat-card > mat-card-header{
    display: flex;
    justify-content: center;
    color:#040451;
  }
  .totalPrice{
    position: absolute;
    right: 0;
    /* top: 10px; */
    margin-right: 0.5em;
  }
  
  .toppingsLabel{
    width: 50%;
  }
  
  .label{
   /*  width:40%; */
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #030324;
  }
  
  .mat-badge-content {
      z-index: 1;
  }
  .mat-button-toggle{
    margin-left: 1em;
  }
  
  mat-button-toggle {    
      background-color: pink;
      border-radius: 4px;
      margin-left: 3px;
      margin-right:3px;
      width: 50%;
      font-family: 'Nunito Semibold', sans-serif;
      font-size: 2rem;
      font-style: bold;
  }
  
  .mat-button-toggle-disabled {
      border: 1px solid #c5c0c7;
      background-color: #e1dde5;
  }
  .mat-button-toggle-checked {
     border: 1px solid #c5c0c7;
     background-color: #200838; 
     color:white;
  }
  
  .text-align-right{
    text-align: right;
  }
  .form-field{
    width: 100%;
  }
  .toppings{
    line-height: 40px;
  }
  
  
  mat-card-actions{
    text-align: right;
  }
  button{
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .pizaa-create-bottom-action{
    margin-top: 1em;
    position: absolute;
    bottom:0;
    text-align: right;
    background-color: #070001b8;
    width: 100%;
    
    box-shadow: 1px 2px 3px 4px grey;
      /* border: 5px; */
      border-radius: 10px;
  
      padding: 0.5rem;
  }
  
  @media screen and (max-width: 768px){
    .create-pizza-container > mat-card{
      
    }
    
    .h1-font-size-mobile{
      font-size: 1.5rem;
    }
    
  
    mat-card-actions{
    text-align: left;
    display: flex;
  }
    .mat-button-toggle{
      font-size: 1rem;
    }
    .label{
      width: auto;
    }
  }
  
  