<div class="main-pizza-create-container">
    <div class="create-pizza-container">
    <mat-card color="primary" class="mat-elevation-z4">      
        <mat-card-header>
          <ng-container *ngIf="!screenSize.matches">
            <pizza-total-price class="totalPrice" *ngIf="!isFormValid" [totalPrice]="totalToppings"></pizza-total-price>
          </ng-container>
          <mat-card-title>
            <h1 class="h1-font-size-mobile"> Build Your Own Pizza </h1> 
          </mat-card-title>
          <mat-card-subtitle> 
            <h3 class="text-align-right"> In a few miute Order your own pizza </h3> 
          </mat-card-subtitle>
        </mat-card-header>
    
    <hr class="mb-1">
        <mat-card-content>
          <pizza-size-toggle 
                (onPizzaSizeSelected)="onPizzaSizeSelectionChange($event)">
          </pizza-size-toggle>
    <hr class="mb-1" >
    
         <pizza-toppings-generator 
              [pizzaToppings]="pizzaToppings" 
              [selectedSize]="selectedSize"
              (onSetToppingSelected)= "setToppingsSelected($event)">
        </pizza-toppings-generator>
      
    <hr class="mb-1">
    
        </mat-card-content>
        <mat-card-actions>
          <!-- <pizza-dialog 
                [isMedium]="screenSize.matches" 
                (hideBottomBar)="onHideBottombar($event)"
                (confirmOrder)="orderConfirm()">
          </pizza-dialog> -->
        </mat-card-actions>
    </mat-card>
    </div>
      <div *ngIf="!hideBottomBarOrNot" class="pizaa-create-bottom-action">
        <ng-container *ngIf="screenSize.matches">
            <pizza-total-price *ngIf="!isFormValid" 
                [totalPrice]="totalToppings">
            </pizza-total-price>
          </ng-container>
        <button  mat-button color="warn" (click)="onCancel()">CANCEL</button> 
          <button mat-raised-button 
                  [disabled]="isFormValid"  
                  color="accent"
                  (click)="buildPizza()"> 
                  <span style="font-size: 1rem;">CREATE YOUR PIZZA </span>
        </button>
      </div>
    </div>
    