<div class="confirm-container">
<div class="create-pizza-container">
    <mat-card>
        <mat-card-header>
           <h2> Your pizza is in your way </h2>

        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button [routerLink]="'/'" color="warn">Go Home</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>