<mat-toolbar color="primary" class="mat-elevation-z1" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']"><img class="mainLogo" src="assets/pizza.png" title="Pizza-Home"></a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="!hideCreate" mat-icon-button [routerLink]="'pizzas'" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <!-- <button mat-icon-button class="example-icon" (click) = "apiCall()" aria-label="Example icon-button with share icon">
    <mat-icon>add_circle_outline</mat-icon>
  </button> -->

  <!-- <button *ngIf="!logout" mat-raised-button color="warn" (click)="authenticate()">Authenticate</button>
  <button *ngIf="logout" mat-raised-button color="warn" (click)="signOut()">LogOut</button> -->
  <!-- <button mat-raised-button color="warn" (click)="onLine()">checkUser is Online</button> -->

<!-- <div style="background-color: white; color: black;">
  <pre>
    <p>{{logout}}</p>
   <p> User : {{user | json}} </p>
    <p> Auth : {{authInstance | json  }}</p>
  </pre>
</div> -->