.mainLogo{
  background-color: azure;
    height: 40px;
    position: absolute;
    top: 10px;
    padding: 0.2rem;
    border-radius: 10px;
    
}
.example-spacer {
    flex: 1 1 auto;
  }
  span{
    word-spacing: 1px;
  }