<div class="pizza-size-selector-container mb-1">
    <mat-label class="label"> Select Pizza Size </mat-label>
    <mat-button-toggle-group #pizzaSizeGroup = "matButtonToggleGroup" name="fontStyle" 
                aria-label="Font Style"  style="overflow:visible" 
                (change)="onPizzaSizeSelectionChange(pizzaSizeGroup.value)">
      <mat-button-toggle value="small">
          SMALL <br> <span style="color:grey;font-weight:600">100Rs. </span>
      </mat-button-toggle>
      <mat-button-toggle value="medium" >MEDIUM <br> <span style="color:grey;font-weight:600"> 200Rs. </span></mat-button-toggle>
      <mat-button-toggle value="large"  >LARGE <br> <span style="color:grey;font-weight:600" > 300Rs. </span>
      </mat-button-toggle>
    </mat-button-toggle-group>
</div>