.pizza-size-selector-container{
    display: flex;
    justify-content: left;
    align-items: center;
}
.pizza-size-selector-container > mat-label{
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.label{
    /*  width:40%; */
     font-size: 1.2rem;
     font-weight: 600;
     letter-spacing: 1px;
     color: #030324;
}

.mat-button-toggle{
    margin-left: 1em;
  }

mat-button-toggle {    
    background-color: pink;
    border-radius: 4px;
    margin-left: 3px;
        margin-right:3px;
    width: 50%;
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 2rem;
    font-style: bold;
}

.mat-button-toggle-checked {
    border: 1px solid #c5c0c7;
    background-color: #200838; 
    color:white;
 }
  /*
        Media Queries..
  */

@media screen and (max-width: 768px){
    .pizza-size-selector-container{
        flex-direction: column;
    }
    .pizza-size-selector-container > mat-label{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1em;
    }
    .mat-button-toggle{
        font-size: 0.9rem;
        margin-left: 0.3em;
        font-weight: 600;
        color: rgb(255, 0, 95);
    }
}

