/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('assets/Pizza-main-background-image.jpg');
}

.mb-1{
  margin-bottom: 1em;
}
.ml-1{
  margin-left: 1em;
}
